
@{
    ViewBag.Title = "Buy";
}

<h2>Buy</h2>

<div class="container body-content">
    <div class="jumbotron">

        <h1>seat 1 :@ViewData["Buy_seat1"]</h1>
        <h1>seat 2 :@ViewData["Buy_seat2"]</h1>

        <h4>영화 : @ViewData["Buy_movie"] </h4>
        <h4>일정 : @ViewData["Buy_date"] </h4>
        <h4>좌석수 : @ViewData["Buy_countSeat"] </h4>
        <h4>좌석 번호 : @ViewData["Buy_seat"]</h4>
        <h4>가격 : @ViewData["Buy_price"]원</h4>
        <h1>sds</h1>
    </div>
</div>